/**

    SKIN AUTUMN

**/

:root{

    --color-bg-boxes: #faf4ec;
    --color-childitem-i: #966;
    --color-childitem-title: #e65;

    --color-h1:#855;
    --color-h2:#b44;
    --color-h3: #c66;
    --color-h4: #da8;

    --color-pacman:#e65;
    --context-head-bg: #e65;

    --navi-icon-color: #b44;
    --navi-bg-l1-active: #e65;
    --navi-bg-l2-active: #f98;
    --navi-bg-l3-active: #f98;
    --navi-bg-on-hover:#f8f0e8;

    --pagehint-bg:#edc;

    --statusbar-bg: #f8f0e8;

    --tile-bg: radial-gradient(#f8f0e8 0%, #f0e8e0 100%);
    --tile-color: #876;

}
 
body, .contextbox, .piechart, h2{
    background-image: url('bg_main.png');
}
h2{
    box-shadow: 0 0.7em 1em #fff; 
}