public_html/config/crawler.config.json.bak
public_html/backend/get.php
public_html/config/crawler.config.json
public_html/data/*.txt
public_html/data/*.db
public_html/data/*.log
public_html/data/~cache
public_html/lang/*.bak
public_html/tmp/*.tmp
.vscode/
public_html/~cache/
public_html/tmp/__latest.zip
public_html/vendor/cache/*
public_html/vendor/vendor-updater.sh
public_html/_update_release.php
public_html/vendor/medoo/tests/AggregateTest.php
public_html/vendor/medoo/tests/CreateTest.php
public_html/vendor/medoo/tests/DeleteTest.php
public_html/vendor/medoo/tests/DropTest.php
public_html/vendor/medoo/tests/GetTest.php
public_html/vendor/medoo/tests/HasTest.php
public_html/vendor/medoo/tests/InsertTest.php
public_html/vendor/medoo/tests/MedooTestCase.php
public_html/vendor/medoo/tests/QueryTest.php
public_html/vendor/medoo/tests/QuoteTest.php
public_html/vendor/medoo/tests/RandTest.php
public_html/vendor/medoo/tests/RawTest.php
public_html/vendor/medoo/tests/ReplaceTest.php
public_html/vendor/medoo/tests/SelectTest.php
public_html/vendor/medoo/tests/UpdateTest.php
public_html/vendor/medoo/tests/WhereTest.php
public_html/vendor/medoo/.php_cs.dist
public_html/vendor/medoo/phpunit.xml
public_html/vendor/medoo/composer.json
public_html/classes/shared/*
public_html/backend/skins/spring/*

static/*