
body{
	color: #346;
}
.sidebar{
    	position: fixed;
	top: 0px;
	bottom: 0px;
	width: 17em;
	border-right: 0px double #ce5;
        z-index:100;
}

#content{
        position: absolute;
	padding: 0;
        border: 0px solid #f00;
        width: 98%;
}
.maincontent{
    padding-left: 18em;
    margin-bottom: 3em;
}
.brand-title,.brand-title a {color:#f8f8f8; text-decoration: none; border-radius: 0; text-shadow: 0 0 3px #000,0 0 1.5em #f00;}
.brand-title{background: #f8c030; 
             background: radial-gradient(#fce030, #f8c030); 
             margin: 0 0 1em; padding: 0.5em;
            box-shadow: 0 0 0.5em #888;
            border: 0px solid;
            border-bottom-right-radius: 0.3em;
            text-align: center;
}
.brand-title span{font-size: 0.5em;}

/* --- menu left --- */
.pure-menu{margin-left: 1.0em; background: rgba(255,255,255,0.5); width: 90%;}
.pure-menu-heading{font-weight: bold;}
.header .pure-menu{ box-shadow: -1em 0 3em #ccd;}
.header .pure-menu-link i{font-size: 130%; }
.header .pure-menu-link{color:#345; border-left: 6px solid #fafafa; padding: 0.6em; }
.header .pure-menu-link:hover{background:#cde; border-color: #345; }
.header .pure-menu-link:focus{border-color: #fc2; }
.header .pure-menu-link-active{background:#345; color:#fff; border-color: #89a; }
.header .pure-menu-link-active i{color:#fff;}
.header .pure-menu-link i{}

/* level 1 */
.header .pure-menu-list .pure-menu-list {background: #f8f8f8; border-bottom: 1px solid #eee; border-left: 0px solid #ddd; margin-left: 1em; margin-bottom: 0.3em; margin-top: 0.0em; }
.header .pure-menu-list .pure-menu-list .pure-menu-link {
    border-color: #eee;
    padding: 0.3em;
}
.header .pure-menu-list .pure-menu-list .pure-menu-link:hover {background:#cde; border-color: #345; }
.header .pure-menu-list .pure-menu-list .pure-menu-link-active{
    background: #789;
    border-color: #345;
    color:#fff;
    text-shadow: none;
}
/* level 2 */
.header .pure-menu-list .pure-menu-list .pure-menu-list {background: #eee; border-bottom: 1px solid #ddd; }
.header .pure-menu-list .pure-menu-list .pure-menu-list .pure-menu-link{border-color: none; }
.header .pure-menu-list .pure-menu-list .pure-menu-list .pure-menu-link,
.header .pure-menu-list .pure-menu-list .pure-menu-list .pure-menu-link:focus{color:#567; text-decoration: none; display: block; white-space:normal; overflow-wrap: break-word; padding: 0.2em;}
.header .pure-menu-list .pure-menu-list .pure-menu-list .pure-menu-link:hover{text-decoration: underline; background: none;}
.header .pure-menu-list .pure-menu-list .pure-menu-list .pure-menu-link-active{
    background:#cde;
}
/* --- menu top (profiles) --- */
.pure-menu-horizontal{margin-left: 0;border-bottom: 1px solid #eee;}
.pure-menu-horizontal .pure-menu-link{color:#345; border-top: 3px solid #fff; padding: 0.75em;}
.pure-menu-horizontal .pure-menu-link:hover{background:#cde; border-color: #345; }
.pure-menu-horizontal .pure-menu-link:focus{border-color: #fc3;}
.pure-menu-horizontal .pure-menu-link-active{background:#f8f8f8; background: #cde; background: #345; color:#345; color:#fff; border-color: #89a; Xborder-color: #345;}




.pure-button {
    border-radius: 4px;
    box-shadow:  0.1em 0.1em 0.1em #aaa; 
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.pure-button:hover {
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow:  0.05em 0.05em 0.1em #ccc; 
}
.button-success,
.button-error,
.button-warning,
.button-secondary {color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.button-success {background: rgb(28, 184, 65); /* this is a green */}
.button-error {background: rgb(202, 60, 60); /* this is a maroon */}
.button-warning {background: rgb(223, 117, 20); /* this is an orange */}
.button-secondary {background: rgb(66, 184, 221); /* this is a light blue */}

a{color:#35a;}

a.hoverinfos{text-decoration: none; border-bottom: 1px dashed;}
a.hoverinfos span{position: absolute; margin-left: -5em; margin-top: 1em; display: none; background:#fda; border: 1px solid #ddd; padding: 0.5em;}
a.hoverinfos:hover span{display: block;}

h1{ background:#cde; margin:0 0 1em; border-top-left-radius: 0.5em;}

h2{
    background:#f8f8f8; 
    background:linear-gradient(90deg,#fff, #f4f4f4);  
    font-size: 3em; 
    padding: 0.2em 0em; 
    margin: 0 ; 
    color: #679; 
    position: fixed; 
    display: block; 
    width: 100%;
box-shadow: 0 1em 1em #fff; z-index:100;
border-bottom: 1px dotted; text-shadow: 1px 1px 1px #fff, 0.25em 0.25em 0.2em #ddd;}
p.pageHint{ background:#eee;
            background:linear-gradient(90deg, #e0e8f4, #fff);
            background:linear-gradient(90deg, #f0d0f4, #fff);
            background:#eee;
            border-left: 10px solid rgba(0,0,0,0.05);
            border-bottom-left-radius: 0.5em;
            color:#346;
          font-size: 130%; padding: 1.0em; margin-top: 0; margin-bottom: 7em; position: relative; top: 4.5em; }
h3{ color: #79b; font-size: 170%; border-top: 1px solid #fca; padding-top: 1em; margin: 2em 0 1.5em;}
h3:first-of-type{ border-top: 0px solid #fca; margin: 0 0 1.5em;}
h4{ color: #678; font-size: 150%; border-bottom: 1px dashed #eee; margin: 2.5em 0 0.5em;}


hr{border: 0; border-bottom: 3px dotted #eee;}
pre{font-size: 80%; padding: 0.5em; background: #cde; color:#345;}



/* --- status for running actions --- */

#divStatus{
    background:#cde;
    padding: 0.5em;
    left: 0.5em;bottom: 0.5em;
    position: fixed;
    z-index: 200;
    opacity: 0.7;
}

/* --- tiles --- */

a.childitem{
    border: 1px solid #e0e8f4;
    border-left: 6px solid #789; 
    background: #e0e8f4;
    border-radius: 0.5em;
    color:#666;
    display: block;
    float: left;
    height: 9em;
    margin: 0 1em 1em 0;
    padding: 1em;
    text-decoration: none;
    transition: ease-in-out all 0.2s;
    width: 18%;
}
a.childitem:hover{background: #f0f4f8; border-color: #d0d8e0;}
a.childitem:focus{background: #fff; }
a.childitem i{color: #789; font-size: 300%; min-height: 3em; float: left; margin-right: 0.2em; text-align: center; width: 1.2em;}
a.childitem:hover i{color: #abc;}
a.childitem strong{color: #789; font-size: 150%; text-shadow: 1px 1px 1px #fff;}


/* --- tiles --- */

ul.tiles{
    list-style: none;
    padding: 0;
}
ul.tiles a.tile{
    background: #abc;
    background: radial-gradient(#def,#bcd);
    border: 1px solid #ddd;
    border: 2px outset rgba(0,0,0,0.1); 
    border-radius: 0.3em;
    box-shadow: 0.3em 0.3em 1em #ccc;
    color:#789;
    display: block;
    float: left;
    height: 6em;
    margin: 0 1em 1em 0;
    min-width: 6em;
    padding: 1em;
    text-align: center;
    text-decoration: none;
}
ul.tiles a.tile strong{
    text-shadow: 0 0 0.1em #fff;
    font-size: 200%;
}
ul.tiles a.tile:hover{
    box-shadow: 0 0 1em #ccc;
}


.bar{width: 100%; border:none;}
.bar div{border-right: 1px solid rgba(0,0,0,0.1); text-align:center; padding: 1em 0;}

.bar .bar-errors,   ul.tiles li a.error,   ul.error   a.tile,  span.error{background:#f8b0b0; background: radial-gradient(#f8e0e0,#f8b0b0); color:#855;}
.bar .bar-warnings, ul.tiles li a.warning, ul.warning a.tile,  span.warning{background:#fec; background: radial-gradient(#fec,#fc8); color:#975;}
.bar .bar-ok,       ul.tiles li a.ok,      ul.ok       a.tile,  span.ok{background:#9c5; background: radial-gradient(#fff,#9c5); color:#694; }
.bar .bar-todo,     ul.todo a.tile, span.todo{background:#d0d0d8; background: radial-gradient(#f0f0f8,#d0d0d8); color:#778;}


/* --- color for pie chart --- */

.piechart{border: 2px solid #fff; border-radius: 0.5em; box-shadow: 0.2em 0.2em 1em #ccc; width: 35em; padding: 1em; margin-bottom: 2em; background: #f8f8f8; background: linear-gradient(-7deg, #cde,#fff,#f8e8d0);}
.chartcolor-error{color:#d88;}
.chartcolor-warning{color:#eb6;}
.chartcolor-ok{color:#7a5;}
.chartcolor-todo{color:#aaa;}

.chartcolor-1{color:#8ac;}
.chartcolor-2{color:#c8a;}
.chartcolor-3{color:#ac8;}
.chartcolor-4{color:#a8c;}
.chartcolor-5{color:#eb6;}


.more:before{content: ' (...)'; color: #f00; background: #fee;}

div.warning{border-radius: 0.5em; border: 2px solid rgba(0,0,0,0.2); background: #fec; color:#975; padding: 1em;}

div.message{border-radius: 0.5em; border: 1px solid rgba(0,0,0,0.05); padding: 1em;}
div.message-ok{background: #cfc; color:#080;}
div.message-warning{background: #fec; color:#975;}
div.message-error{background: #fcc; color:#955;}

/* 
--------------------------------------------------------------------------------
    action box
--------------------------------------------------------------------------------
*/

.actionbox{
    background: #f0f4f8;
    border: 2px solid #e0e4e8; padding: 1em;
}
/* 
--------------------------------------------------------------------------------
    ressources 
--------------------------------------------------------------------------------
*/
.http-code{padding: 0.05em 0.5em; background:#ddd; color:#fff; box-shadow: 0 0 0.2em #fff; min-width: 3em; display: inline-block;}
.http-code-{background:#ccd;}
.http-code--1 {background: #d0d0d8;}
.http-code-2xx {background:#8b4;}
.http-code-3xx{background:#ea5;}
.http-code-0,.http-code-301,.http-code-4xx, .http-code-9xx {background:#e55;}
.http-code-5xx {background:#b6b;}

/* --- types --- */
.type-external{color:#0066cc;}
.type-internal{color:#009999;}
.type-local{color:#aaaaaa;}

/* --- icons --- */
.ico-security{color:#0c6;}
.ico-httpv1{color:#083;}
.ico-unknown{color:#c8c;}
.ico-warn{color:#fa2;}
.ico-non-standard{color:#083;}

.ico-miss{color:#c42;}
.ico-found{color:#083;}

/*
.ressourcetype{padding: 0.05em 0.5em; color:#fff; box-shadow: 0 0 0.2em #fff;}
.ressourcetype-css{background: #345;}
.ressourcetype-image{background: #a93;}
.ressourcetype-link{background: #348;}
.ressourcetype-page{background: #8a8;}
.ressourcetype-script{background: #354;}
*/

.pure-button span.varname{color:#838;}
.pure-button span.value{color:#388;}

/* --- ressource rendering --- */

.divRessource{
    border: 1px solid #ccc;
    margin: 0 1em 1em 0;
}
.divRessourceHead{
    background-color:#cde;
    padding: 0.5em;
}
.divRessourceContent{
    padding: 0.5em;
}
.ressourcecounter a{font-size: 250%; color:#abc; text-decoration: none;}

.counter{background: rgba(0,0,0,0.05); float: left; margin-top: 1em; padding: 1em;}
.divRessourceReport{border: 1px solid #eee; padding: 0.5em; background: linear-gradient(#f8f8f8,#fff,#f8f8f8);}
.pure-table tr:hover, .divRessourceReport:hover{background:#eee;}
.divRessourceReport .references{border-left: 1px dotted #ccc; margin: 0 0 0 1em; padding-left: 0.5em;}

/* --- tables --- */
.pure-table{background:#fff;}
.pure-table-horizontal th{background-color:#789; color:#eee; text-align: left;}
.pure-table-horizontal th:hover{background-color:#89a; color:#eee;}
table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc {
    background-color:#abc; color:#343;
}

.pure-table td{
    vertical-align: top;
}

.pure-table td .key{color:#009999; font-style: italic;}
.pure-table td .key2{color:#995599;font-style: italic;}
.pure-table td .value{color:#0066cc;}
.pure-table td .value:before,.pure-table td .value:after{content:'"'}

td div.tdcenter{text-align: center;}
td div.tdcenter:hover{background: rgba(0,40,80,0.1);}
td div.tdcenter strong{font-size: 150%; color:#8ac;}

/* --- form --- */
form.pure-form label{min-width: 20em;}
