/**

    SKIN CSS FOR THEME DEFAULT

**/

/*
    Overrides of defined colors

:root{
    --DEFAULT-markedelement-color: #0ff;     
}
*/

body, .contextbox, .piechart{
    background-image: url('bg_main.png');
}
h2{
    box-shadow: 0 0.7em 1em #fff; 
}