:root {
    --color-default:#567;
    --color-bg-default:#202428;
    --color-bg-default:#222028;
    --color-shadow-default:rgba(0,0,0,0.4);
    
    --color-border-active:#89a;
    --color-border-click:#fc2;
    --color-border-click:#cde;
    --navi-bg-on-hover:#c0d0dc;
    --navi-bg-on-hover:rgba(120,130,138,0.1);

    --tile-bg:radial-gradient(#202028,#303840);
    --tile-color:#789;

    --context-head-bg:radial-gradient(#303840,#456);
    
    --status-bg-error:radial-gradient(#422,#844);
    --status-bg-error-flat:#844;
    --status-bg-warning:radial-gradient(#432,#863);
    --status-bg-warning-flat:#863;
    --status-bg-ok:radial-gradient(#133,#354);
    --status-bg-ok-flat:#354;
    --status-bg-todo:radial-gradient(#303030,#202020);
    
    --status-color-error:#c88;
    --status-color-warning:#b97;
    --status-color-ok:#587;
    --status-color-todo:#778;
    
    --boxes-border:2px solid rgba(0,0,0,0.02);
    --chart-background_V: linear-gradient(-7deg, #080810,#102030 20%,#345 60%,#234 90%,#123);
    --chart-background: none;
    --chart-border:5px solid #222;
}
a{color:#568;}
body, .contextbox{
	color: var(--color-default);
        background: var(--color-bg-default) url('bg_main.png') fixed;
}
h2{}
h3{border-top-color: rgba(255,255,255,0.1); }
h4 {border-bottom: 1px dashed #444;}
hr {border-bottom: 2px dotted #444;}
input, option, select, textarea{background: rgba(255,255,255,0.3); border-color: var(--color-bg-default );}

pre{background: rgba(0,0,0,0.6);}

ul.tiles a.tile:hover{
    box-shadow: 0 0 5px #000, 0 0 1em #468;
}

div.contextbox .head{opacity: 1;}

/* ----- override pure elements ----- */
.header .pure-menu-list .pure-menu-list .pure-menu-link-active{color:#123;}
.header .pure-menu-link-active, .header .pure-menu-link-active:hover{color:#123;}
.header .pure-menu-list .pure-menu-list .pure-menu-link-active {
	background: #456;
	border-color: var(--color-default);
}

.pure-button{background: rgba(255,255,255,0.25); color:#999;}
.pure-table{background:none; border-color: rgba(255,255,255,0.05);}
.pure-table-horizontal th{background-color: #28242e; color:var(--color-default)}

.pure-table tr:hover, table.dataTable tbody tr:hover{background: rgba(255,255,255,0.01);}
.pure-table-horizontal td{border-bottom-width: 0;}
.pure-table-horizontal td, .pure-table-horizontal th{border-bottom-color: rgba(255,255,255,0.01);}

.pure-form input[type="color"], .pure-form input[type="date"], .pure-form input[type="datetime-local"], .pure-form input[type="datetime"], .pure-form input[type="email"], .pure-form input[type="month"], .pure-form input[type="number"], .pure-form input[type="password"], .pure-form input[type="search"], .pure-form input[type="tel"], .pure-form input[type="text"], .pure-form input[type="time"], .pure-form input[type="url"], .pure-form input[type="week"], .pure-form select, .pure-form textarea
{border: 1px solid #111; box-shadow: inset 0 1px 3px #111;}

.pure-form select {
    background-color: rgba(255,255,255,0.3);
}

table.dataTable tbody tr{background: none;}
table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc{background-color: #234; color:#789;}
table.dataTable thead th:hover{background-color: #234; }

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
        background: rgba(255,255,255,0.25); color:#999;
}
div.pure-control-group > div > label:hover{opacity: 1; background: rgba(255,255,255,0.02);} 

/* --- http response header tags ---  */
.pure-table tr.cache{background: #334; color:rgba(255,255,255,0.4);}
.pure-table tr.compression{background: #424; color:rgba(255,255,255,0.4);}
.pure-table tr.non-standard{background: #543; color:rgba(255,255,255,0.4);}
.pure-table tr.security{background: #343; color:rgba(255,255,255,0.4);}
.pure-table tr.unknown{color:#444;}
.pure-table tr.unwanted{background: #432; color:rgba(255,255,255,0.4);}

/* ----- custom elements ----- */
#overlay div.divdialog {
    background: #222024;
    box-shadow: 0.1em 0.1em 2em #333, 0.5em 0.5em 3em #000;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: #222;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    text-shadow: none;
}

.button-success {background: rgb(40, 144, 90); /* this is a green */}
.button-error {background: rgb(150, 40, 40); /* this is a maroon */}
.button-warning {background: rgb(223, 117, 20); /* this is an orange */}
.button-secondary {background: rgb(40, 110, 140); /* this is a light blue */}

.div-toggle{background: none;}
.div-toggle-head a{background: rgba(255,255,255,0.03);}

.divRessourceReport {background: none;}
.divRessourceReport:hover {background: rgba(255,255,255,0.02);}
.divRessourceAsLine {border-bottom: 1px solid #234; }
.divRessourceAsLine:hover {background: rgba(0,0,0,0.1);}

/* --- color for pie chart --- */

.chartcolor-error{color:#833;}
.chartcolor-warning{color:#a74;}
.chartcolor-ok{color:#153;}
.chartcolor-todo{color:#333;}

.chartcolor-1{color:#245;}
.chartcolor-2{color:#534;}
.chartcolor-3{color:#453;}
.chartcolor-4{color:#435;}
.chartcolor-5{color:#543;}

/* --- http status --- */

.http-code {
    box-shadow: none;
    color: #111;
    opacity: 0.7;
}
.last-http-code-2xx {background:#143;}
.last-http-code-3xx{background:#542;}
.last-http-code-0,.last-http-code-301,.last-http-code-4xx, .last-http-code-9xx {background:#422;}
.last-http-code-5xx {background:#535;}


.divRessource {border: 1px solid rgba(255,255,255,0.1);}
.divRessourceHead {background-color: #234;}