/**

    Default dark skin

**/
@import url('../dark-simple/skin.css');

:root {

    /** --- new colors for each menu section - START--- **/
    --page-home-navcolor:#678;
    --page-analysis-navcolor:#965;
    --page-tools-navcolor:#768;
    --page-settings-navcolor:#866;
    --page-about-navcolor:#697;

    --page-home-navbg:#202830;
    --page-analysis-navbg: #24140c;
    --page-tools-navbg: #220b22;
    --page-settings-navbg:#271414;
    --page-about-navbg:#122004;
    /** --- new colors for each menu section - END --- **/

}
