/**

    SKIN CSS FOR THEME DEFAULT

**/

/*
    Overrides of defined colors
*/
:root{

    --color-bg-boxes:#f2f4f4;
    --color-childitem-i: #568;
    --color-childitem-title: #589;

    --color-h1:#346;
    --color-h2:#457;
    --color-h3:#589;
    --color-h3-border-top:#ccc;
    --color-h4:#8ab;
    --color-h4-border-bottom:#eee;

    --color-pacman: #69a;
    --color-currentproject: #578;

    --context-head-bg:#78a;

    --navi-bg-l1-active:#568;
    --navi-bg-l2-active:#78a;
    --navi-bg-l3-active:#567;
    --navi-bg-on-hover:rgba(160,170,190,0.1);

    --navi-icon-color: #568;

    /* --pagehint-bg:#d0e8e0; */
    --pagehint-bg:#ede4f0;

    --statusbar-bg: #cde;

    --table-head-bg: #8ab;
    --table-head-color: #eff;
    --table-head-hover-bg: #9bc;
    --table-head-hover-color: #f8f8f8;
    --table-head-select-bg: #568;
    --table-head-select-color: #cde;

    --tile-bg:radial-gradient(#f0f8ff,#c8d8e0);
    --tile-color:#78a;

    --page-home-navcolor:#abc;
    --page-analysis-navcolor:#fa8;
    --page-tools-navcolor:#c9c;
    --page-settings-navcolor:#c99;
    --page-about-navcolor:#6c6;

    --page-home-navbg:rgb(243, 246, 248);
    --page-analysis-navbg:rgb(248, 245, 244);
    --page-tools-navbg:rgb(248, 244, 248);
    --page-settings-navbg:rgb(248, 243, 243);
    --page-about-navbg:rgb(244, 248, 244);

}

body, .contextbox, .piechart, h2{
    background-image: url('bg_main.png');
}
h2{
    box-shadow: 0 0.7em 1em #fff; 
}


a[href*="page=home"]      i, .page-home     h2 i ,.page-home     .pure-menu-list .pure-menu-list i, .page-home     a.childitem i{ color: var(--page-home-navcolor);}
a[href*="page=analysis"]  i, .page-analysis h2 i ,.page-analysis .pure-menu-list .pure-menu-list i, .page-analysis a.childitem i{ color: var(--page-analysis-navcolor);}
a[href*="page=tools"]     i, .page-tools    h2 i ,.page-tools    .pure-menu-list .pure-menu-list i, .page-tools    a.childitem i{ color: var(--page-tools-navcolor);}
a[href*="page=settings"]  i, .page-settings h2 i ,.page-settings .pure-menu-list .pure-menu-list i, .page-settings a.childitem i{ color: var(--page-settings-navcolor);}
a[href*="page=about"]     i, .page-about    h2 i ,.page-about    .pure-menu-list .pure-menu-list i, .page-about    a.childitem i{ color: var(--page-about-navcolor);}

.page-home     .header .pure-menu-list .pure-menu-list {background: var(--page-home-navbg)}
.page-analysis .header .pure-menu-list .pure-menu-list {background: var(--page-analysis-navbg)}
.page-tools    .header .pure-menu-list .pure-menu-list {background: var(--page-tools-navbg)}
.page-settings .header .pure-menu-list .pure-menu-list {background: var(--page-settings-navbg)}
.page-about    .header .pure-menu-list .pure-menu-list {background: var(--page-about-navbg)}

