/**

    MAIN CSS

**/
:root {

    --DEFAULT-markedelement-color: #fff;
    --DEFAULT-mark-ok: rgb(61, 151, 95);
    --DEFAULT-mark-error: rgb(177, 86, 86);
    --DEFAULT-mark-warning: rgb(216, 124, 38);

    --DEFAULT-darken-15: rgba(0,0,0,0.15);
    --DEFAULT-darken-10: rgba(0,0,0,0.1);
    --DEFAULT-darken-7: rgba(0,0,0,0.07);
    --DEFAULT-darken-5: rgba(0,0,0,0.05);
    --DEFAULT-darken-2: rgba(0,0,0,0.02);
    
    --DEFAULT-lighten-10: rgba(255,255,255,0.1);
    --DEFAULT-lighten-7: rgba(255,255,255,0.07);
    --DEFAULT-lighten-5: rgba(255,255,255,0.05);
    --DEFAULT-lighten-2: rgba(255,255,255,0.02);

    /*
        -----=====| MAIN COLORS |=====-----
    */
    --color-a:#35a;
    --color-bg-default:#f8f8f8;
    --color-default:#444;

    /*
        -----=====| PAGE LAYOUT |=====-----
    */
    --color-border-active:#89a;
    --color-border-click:#cde;
    --color-h1:#444;
    --color-h2:#555;
    --color-h3:#777;
    --color-h3-border-top:#ccc;
    --color-h4:#aaa;
    --color-h4-border-bottom:#eee;
    --color-hr:#ddd;

    --color-pacman: #999;
    --color-shadow-default:#d0d0d0;

    --context-head-bg:#999;
    --context-head-fg:var(--DEFAULT-markedelement-color);

    /* -- menu left -- */
    --sidebar-bg: #fff;
    --sidebar-box-shadow: 0 0 2em #e0ecf0;

    --brand-title-bg: none;

    --navi-bg-l1:rgba(0,0,0,0.03);
    --navi-bg-l1-active:#666;
    --navi-bg-l2-active:#888;
    --navi-bg-l3-active:#999;
    --navi-bg-on-hover:#eee;

    --navi-icon-color: #666;
    --navi-icon-color-active:var(--DEFAULT-markedelement-color);

    --overlay-bg:rgba(0,0,0,0.1);
    --overlay-dialog-bg:#fff;
    --overlay-dialog-border:rgba(0,0,0,0.5);
    --overlay-dialog-shadow-color1:#fff;
    --overlay-dialog-shadow-color2:#333;
    --overlay-dialog-title-bg:#789;
    --overlay-dialog-title-color:var(--DEFAULT-markedelement-color);

    --pagehint-bg:#fff;

    /* -- foooter -- */
    --footer-bg: var(--DEFAULT-darken-5);
    --statusbar-bg: #ddd;

    /*
        -----=====| PAGE ELEMENTS |=====-----
    */
    --actionbox-bg: rgba(140,160,180,0.1);
    --border1: var(--DEFAULT-darken-10);

    --button-bg: #d8dce0;
    --button-text-color: #303438;
    --button-textshadow-color: rgba(0, 0, 0, 0.4);
    --button-success-bg: var(--DEFAULT-mark-ok);
    --button-error-bg: var(--DEFAULT-mark-error);
    --button-warning-bg: var(--DEFAULT-mark-warning);
    --button-secondary-bg: rgb(76, 154, 179);

    --button-varname-color: #838;
    --button-value-color: #388;

    --color-bg-boxes:#f4f4f4;

    --color-childitem-i: #666;
    --color-childitem-background: var(--color-bg-boxes);
    --color-childitem-border: var(--DEFAULT-darken-5);
    --color-childitem-title: #888;

    --boxes-border:2px solid rgba(0,0,0,0.02);

    --chart-background: none;
    --chart-border:5px solid var(--DEFAULT-markedelement-color);
    
    /* TODO: does not work yet: js did not fetch variable value from var() */
        --chart-color-error:#d88;
        --chart-color-warning:#eb8;
        --chart-color-ok:#7a7;
        --chart-color-todo:#aaa;
        --chart-color-1:#8ac;
        --chart-color-2:#c8a;
        --chart-color-3:#ac8;
        --chart-color-4:#a8c;
        --chart-color-5:#eb6;
    /* /TODO */

    --debug-container-bg:#f8f8f8;
    --div-bar-border: var(--border1);

    --extended-bg: rgba(0,0,0,0.05);

    --form-label-hover-bg:rgba(255,255,255,0.3);
    --form-select-hover-bg:rgba(255,255,255,0.7);
    --form-insertimage-bg:rgba(0,0,0,0.05);
    --form-insertimage-border:rgba(0,0,0,0.2);

    /* boxes with a number of an http code */ 
    --http-code-bg:#ddd;
    --http-code-color:var(--DEFAULT-markedelement-color);

    --http-code-todo-bg:#ccd;
    --http-code-error-bg:var(--DEFAULT-mark-error); /* for .http-code-0xx,.http-code-301,.http-code-4xx, .http-code-9xx */
    --http-code--1-bg:#c0c0c8;
    --http-code-2xx-bg:var(--DEFAULT-mark-ok);
    --http-code-3xx-bg:var(--DEFAULT-mark-warning);
    --http-code-5xx-bg:#a7a;

    --http-status-redirect-bg:radial-gradient(#fec,#fc8);
    --http-status-redirect-color:#975;

    /* --- icons --- */
    --ico-security-color:#493;
    --ico-http-color:#083;
    --ico-unknown-color:#aaa;
    --ico-error-color:#e66;
    --ico-warn-color:#fa2;
    --ico-warning-color:#fa2;
    /* http header */
    --ico-non-standard-color:#083;
    --ico-obsolete-color:#eaa;
    --ico-deprecated-color:#aaa;
    --ico-unwanted-color:#fa2;
    --ico-badvalue-color:#fa2;

    --ico-miss-color:#c42;
    --ico-found-color:#083;

    --person-bg:rgba(255,255,255,0.5);
    --person-border:rgba(0,0,0,.1);

    /* resources */
    --resource-line-border: var(--DEFAULT-markedelement-color);
    --resource-line-hover-bg: rgba(255,255,255,0.4);
    --resource-head-bg: #cde;
    --resource-counter-color: #abc;

    --resource-report-bg:#fff;
    --resource-report-border:#eee;
    --resource-report-hover-bg:var(--DEFAULT-darken-2);
    --resource-report-border:#888;

    --status-bg-error:radial-gradient(#f8f0f0,#daa);
    --status-bg-error-flat:#ebb;
    --status-bg-ok:radial-gradient(#fff,#b0d0b8);
    --status-bg-ok-flat: #c0dcc8;
    --status-bg-warning:radial-gradient(#fff,#eb8);
    --status-bg-warning-flat:#fdb;
    --status-bg-todo:radial-gradient(#f0f0f8,#d0d0d8);
    --status-color-error:#855;
    --status-color-ok:#50705c;
    --status-color-warning:#975;
    --status-color-todo:#778;

    --table-bg: #fff;
    --table-head-bg: #777;
    --table-head-color: #eee;
    --table-head-hover-bg: #888;
    --table-head-select-bg: #555;
    --table-head-hover-color: #f8f8f8;
    --table-head-select-color: #ddd;

    --table-td-key-color:#009999;
    --table-td-key-color:#995599;
    --table-td-value-color:#0066cc;

    /* --- http response header tags ---  */
    --table-tr-cache-bg:#dde;
    --table-tr-cache-color:#44a;
    --table-tr-compression-bg:#ede;
    --table-tr-compression-color:#848;
    --table-tr-nonstandard-bg:#fdb;
    --table-tr-nonstandard-color:#975;
    --table-tr-security-bg:#cdc;
    --table-tr-security-color:#171;
    --table-tr-unknown-bg:#e0e0f0;
    --table-tr-unknown-color:#aaa;
    --table-tr-unwanted-bg:#fdb;
    --table-tr-unwanted-color:#975;

    --table-tr-marked-bg:#cde;

    --tile-bg:radial-gradient(#f8f8f8,#d0d0d0);
    --tile-color:#888;
    --tile-border-color:var(--border1);
    --tile-shadow-hover: 1px 1px 2px var(--color-shadow-default);
    --tile-shadow:-2px -2px 5px #fff, 0 0 0.9em var(--color-shadow-default);

    --toggle-bg: rgba(255,255,255,0.5);
    --toggle-border: rgba(0,0,0,0.3);

    --toggle-head-a-bg: var(--DEFAULT-darken-5);
    --toggle-head-a-border: rgba(0,0,0,0);
    --toggle-head-a-color: #78a;
    --toggle-head-a-hover-bg: var(--DEFAULT-darken-10);
    --toggle-head-a-hover-border: var(--border1);
    --toggle-head-a-open-color: #a00;

    /* location type of a ressource */
    --type-external-color:#0066cc;
    --type-internal-color:#009999;
    --type-local-color:#aaaaaa;

}

body, .contextbox, .piechart{
	color: var(--color-default);
    background: var(--color-bg-default) fixed;
}
.sidebar{
    position: fixed;
    top: 0px;
    bottom: 0px;
    width: 16em;
    z-index:100;
    background: var(--sidebar-bg);
    box-shadow: var(--sidebar-box-shadow);
    overflow: auto;
}

#content{
    position: absolute;
    padding: 0;
    width: 98%;
}
.maincontent{
    padding-left: 18em;
    margin-bottom: 3em;
}

.brand-title,.brand-title a {color:var(--color-h1); text-decoration: none; }
.brand-title{
    background: var(--brand-title-bg); 
    border-radius: 0;
    border-bottom-right-radius: 0.3em;
    /*
    box-shadow: 0 0 0.5em var(--color-shadow-default);
    */
    margin: 0 0 1em; padding: 0.2em;
}
    #pacman {
      width: 0;
      height: 0;
      border: 1.2em solid var(--color-pacman);
      border-radius: 2em;
      border-right-color: transparent;
    }
    #pacman div{
        margin: -0.7em 0 0 0.7em;
        position: absolute;
    }
    .brand-title span{font-size: 0.5em; font-weight: normal; position: absolute; right: 0.5em; text-align: right;}
    .brand-title a{margin-left: 0.4em;}

/* --- menu left --- */
.header .langnav{position: fixed; top: 1em; right: 2em;}
.pure-menu{margin-left: 0.5em; width: 95%;}
.pure-menu-heading{font-weight: bold;}
.header .pure-menu{}
.header .pure-menu-link i{font-size: 130%;}
.header .pure-menu-link{color:var(--color-default); padding: 0.6em; }
.header .pure-menu-link:hover{background:var(--navi-bg-on-hover); border-color: var(--color-default); }
.header .pure-menu-link:focus{border-color:var(--color-border-click); }
.header .pure-menu-link-active, .header .pure-menu-link-active:hover{background: var(--navi-bg-l1-active); color:var(--navi-icon-color-active); border-color:var(--color-border-active); }

.pure-menu-link i{color:var(--navi-icon-color);}
.pure-menu-link-active i{color:var(--navi-icon-color-active);}

.pure-menu-disabled{cursor: not-allowed; opacity: 0.3;}


/* level 1 */
.header .pure-menu-list .pure-menu-list {background: var(--navi-bg-l1); border-bottom: 0px dotted var(--color-default); border-left: 0px solid var(--color-default); margin-left: 1em; margin-bottom: 0.3em; margin-top: 0.0em; }
.header .pure-menu-list .pure-menu-list .pure-menu-link {
    border-color: var(--color-default);
    padding: 0.3em;
}
.header .pure-menu-list .pure-menu-list .pure-menu-link:hover {background: var(--navi-bg-on-hover); border-color: var(--color-default); }
.header .pure-menu-list .pure-menu-list .pure-menu-link-active{
    background: var(--navi-bg-l2-active);
    border-color: var(--color-default);
    color:#fff;
    text-shadow: none;
}
/* level 2 */
.header .pure-menu-link{border-radius: 0.3em; display: block; white-space:normal; overflow-wrap: break-word; }
/*
.header .pure-menu-list .pure-menu-list .pure-menu-list {background: rgba(0,0,0,0.03); border-bottom: 1px solid var(--color-default); }
*/
.header .pure-menu-list .pure-menu-list .pure-menu-list .pure-menu-link{border-color: none; }
.header .pure-menu-list .pure-menu-list .pure-menu-list .pure-menu-link,
.header .pure-menu-list .pure-menu-list .pure-menu-list .pure-menu-link:focus,
.header .pure-menu-list .pure-menu-list .pure-menu-list .pure-menu-link:active
    {color:var(--color-default); text-decoration: none; padding: 0.2em;}
.header .pure-menu-list .pure-menu-list .pure-menu-list .pure-menu-link:hover{text-decoration: underline; background: none;}
.header .pure-menu-list .pure-menu-list .pure-menu-list .pure-menu-link-active{
    background: var(--navi-bg-on-hover);
    color:var(--color-default);
}
/* --- menu top (profiles) ---
.pure-menu-horizontal{margin-left: 0;border-bottom: 1px solid rgba(0,0,0,0.05); box-shadow: 0 0 1em rgba(0,0,0,0.05);}
.pure-menu-horizontal .pure-menu-link{border-radius: 0.3em 0.3em 0 0; color:var(--color-default); border-top: 3px solid #fff; padding: 0.75em;}
.pure-menu-horizontal .pure-menu-link:hover{background: var(--navi-bg-on-hover); border-color: var(--color-default); }
.pure-menu-horizontal .pure-menu-link:focus{border-color:var(--color-border-click);}
.pure-menu-horizontal .pure-menu-link-active, .pure-menu-horizontal .pure-menu-link-active:hover{background:#f8f8f8; background: #cde; background: var(--color-default); color:#fff; border-color:var(--color-border-active); }
 */

#nav2 {margin-left: 0;border-bottom: 1px solid rgba(0,0,0,0.05); box-shadow: 0 0 1em rgba(0,0,0,0.05);}
#nav2 .pure-menu-link{border-radius: 0.3em 0.3em 0 0; color:var(--color-default); border-top: 3px solid #fff; padding: 0.75em;}
#nav2 .pure-menu-link:hover{background: var(--navi-bg-on-hover); border-color: var(--color-default); }
#nav2 .pure-menu-link:focus{border-color:var(--color-border-click);}
#nav2 .pure-menu-link-active, #nav2 .pure-menu-link-active:hover{background:#f8f8f8; background: #cde; background: var(--color-default); color:#fff; border-color:var(--color-border-active); }

.breadcrumb{float: right; border-bottom: 1px solid var(--DEFAULT-darken-5);}
.breadcrumb a{background: none;}

.pure-button {
    /*
    border-radius: 4px;
    box-shadow:  0.1em 0.1em 0.1em #aaa; 
    border: 1px solid rgba(0, 0, 0, 0.1);
    */
    background: var(--button-bg);
    color: var(--button-text-color);
}
.pure-button:hover {
    /*
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow:  0.05em 0.05em 0.1em #ccc; 
    */
}
.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: var(--DEFAULT-markedelement-color);
    text-shadow: 1px 1px 1px var(--button-textshadow-color);
}

.button-success {background: var(--button-success-bg); /* this is a green */}
.button-error {background: var(--button-error-bg); /* this is a maroon */}
.button-warning {background: var(--button-warning-bg); /* this is an orange */}
.button-secondary {background: var(--button-secondary-bg); /* this is a light blue */}

.button-small {font-size: 100%; padding: 0.1em;}

a{color:var(--color-a);}
a:hover{}

a.hoverinfos{text-decoration: none; border-bottom: 1px dashed;}
a.hoverinfos span{position: absolute; margin-left: -5em; margin-top: 1em; display: none; background:#fda; border: 1px solid #ddd; padding: 0.5em;}
a.hoverinfos:hover span{display: block;}

h1{ background:#cde; color:var(--color-h1); margin:0 0 1em; border-top-left-radius: 0.5em;}

h2{
    font-size: 3em; 
    padding: 0.2em 0em 0.2em 0.5em; 
    margin: 0 0 0 -0.3em; 
    color:var(--color-h2);
    position: fixed; 
    display: block; 
    width: 100%;
    z-index:100;    
}
p.pageHint{
    background:var(--pagehint-bg);
    font-size: 110%; 
    border-bottom-left-radius: 0.5em;
    padding: 0.5em; margin-top: 0; margin-bottom: 7em; position: relative; top: 6em; 
}
p.pageHint:before{content: ':: ';}
h3{ color:var(--color-h3); font-size: 170%; border-top: 2px dotted var(--color-h3-border-top); padding-top: 1em; margin: 2em 0 1.5em;}
h3:first-of-type{ border-top: none; margin: 0 0 1.5em;}
h4{ color: var(--color-h4); font-size: 150%; border-bottom: 1px dashed var(--color-h4-border-bottom); margin: 2.5em 0 0.5em;}


hr{border: 0; border-bottom: 2px dotted var(--color-hr);}
iframe{position: fixed; bottom: -3em; height: 1em; border: none;}
pre{font-size: 80%; padding: 0.5em; background: #e0e4ea; color:var(--color-default);}
code{background: #e0e4ea; padding: 0.2em;}

/* --- context box --- */
div.contextbox{
    position: relative;
    float: right;
    margin: 0 0 2em 2em;
    background: var(--color-bg-boxes);
    box-shadow: 0 0 2em var(--color-shadow-default);
    border-top-left-radius: 1em;
    margin-top: 1em;
    width: 30%;
}
div.contextbox .head{background: var(--context-head-bg); color:var(--context-head-fg); font-weight: bold; padding: 1em;border-top-left-radius: 1em;}
div.contextbox .content{margin: 1em;}

/* --- setup page: extended areas for pro features --- */

.hintextended{background: var(--extended-bg); }
.extended{background: var(--extended-bg);}

/* --- status for running actions --- */

#divStatus{
    background:var(--statusbar-bg);
    display: none;
    overflow: hidden;
    padding: 0.5em;
    left: 0.5em;bottom: 0.5em;
    max-width: 90%;
    height: 1.3em;
    position: fixed;
    z-index: 200;
    opacity: 0.8;
}
#divStatus .bar      {border: 1px solid var(--navi-bg-l1-active); width: 15em; position: relative; display: inline-block; text-align: center;}
#divStatus .progress {background: var(--navi-bg-l1-active); height: 3px; padding: 0;}

.actions-crawler>div{display: none;}

footer{position: fixed; background: var(--footer-bg); bottom: 0; padding: 0.5em 1em; right: 0;}

/* --- page log messages --- */
pre.logdata div:hover{
    background: var(--DEFAULT-darken-10);
}
pre.logdata h3, pre.logdata h4{display: inline-block; margin: 0; }
pre.logdata .message-cli{opacity: 0.7;}
pre.logdata .message{border: none; margin:0;}

pre span.linenumber{background: var(--DEFAULT-darken-10); display: inline-block; padding: 0.2em 0.5em; text-align: center; width: 1.7em; }

pre.output{font-size: 100%;}

/* --- tiles --- */

a.childitem{
    border: 1px solid var(--color-childitem-border);
    background: var(--color-childitem-background);
    /*
    background: linear-gradient(#fff, #e0e4ea);
    background: #fff;
    color:#666;
    */
    border-radius: 1em;
    color:var(--color-default);
    display: block;
    float: left;
    height: 8em;
    margin: 0 1em 1em 0;
    padding: 1em;
    text-decoration: none;
    min-width: 12em;
    width: 19%;
    width: 16%;
}
a.childitem:hover{
    box-shadow: 0 0 1em var(--color-shadow-default);
}
a.childitem:focus{box-shadow: none;}
a.childitem i{color: var(--color-childitem-i); font-size: 300%; min-height: 1em; float: left; margin-right: 0.2em; text-align: center; width: 1.2em;}
a.childitem strong{color: var(--color-childitem-title); font-size: 130%; display: block; min-height: 3em; margin-top: 0.2em;}


/* --- tiles --- */

ul.tiles{
    list-style: none;
    padding: 0;
}
ul.tiles a.tile{
    background: var(--tile-bg);
    border: 2px outset var(--tile-border-color); 
    border-radius: 0.5em;
    box-shadow: var(--tile-shadow);
    color: var(--tile-color);
    display: block;
    float: left;
    height: 7em;
    margin: 0 1em 1em 0;
    min-width: 6em;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s;
}
ul.tiles a.tile.nonclickable,
ul.tiles a.tile.nonclickable:hover{box-shadow: none;
    border: 2px solid var(--tile-border-color); 
    cursor: default;
    margin: 0 1em 1em 0;
}

ul.tiles a.tile strong{
    font-size: 200%;
}
ul.tiles a.tile:hover{
    box-shadow: var(--tile-shadow-hover);
    margin: 0.05em 0.95em 0.95em 0.05em;
}

/* ----- Image of ebsite in context sidebar ----- */
img.profile{
    border-radius: 0.5em;
    padding: 0;
    max-width: 100%;
    opacity: 0.7
}

/* ----- toggle boxes for help/ legends) ----- */
.div-toggle-head{
    padding: 0em;
}
.div-toggle-head a{
    background: var(--toggle-head-a-bg);
    border: 1px solid var(--toggle-head-a-border);
    color:var(--toggle-head-a-color);
    display: block;
    font-weight: bold;
    margin-bottom: 1px;
    padding: 1em;
    text-decoration: none;
    transition: all 1s;
}
.div-toggle-head a:hover{
    background: var(--toggle-head-a-hover-bg);
    border: 1px solid var(--toggle-head-a-hover-border);
}
.div-toggle-head a:after{
    float: right;
    font-size: 130%;
    transition: all 1s;
    content: " + ";
}
.div-toggle-head a.open:after{
    color:var(--toggle-head-a-open-color);
    transform: rotate(135deg);
}
.div-toggle{
    background: var(--toggle-bg);
    border: 1px dotted var(--toggle-border);
    border-top: none;
    padding: 1em;
    margin-bottom: 2em;
}


.bar{width: 100%; border:none;}
.bar div{border-right: 1px solid var(--div-bar-border); text-align:center; padding: 1em 0;}

.bar .bar-errors,   ul.tiles li a.error,   ul.error   a.tile, span.error,   tr.error, td.error{ background:var(--status-bg-error); color:var(--status-color-error);}
.bar .bar-warnings, ul.tiles li a.warning, ul.warning a.tile, span.warning, tr.warning, td.warning{ background:var(--status-bg-warning); color:var(--status-color-warning);}
.bar .bar-ok,       ul.tiles li a.ok,      ul.ok a.tile,      span.ok,      tr.ok     , td.ok{ background:var(--status-bg-ok); color:var(--status-color-ok);}
.bar .bar-todo,     ul.todo a.tile,                           span.todo{    background:var(--status-bg-todo); color:var(--status-color-todo);}

span.error,   tr.error,   td1.error{   background:var(--status-bg-error-flat);}
span.warning, tr.warning, td1.warning{ background:var(--status-bg-warning-flat);}

span.redirect{background: var(--http-status-redirect-bg); color:var(--http-status-redirect-color);}

div.warning{border-radius: 0.5em; border: var(--boxes-border); background:var(--status-bg-warning-flat); color:var(--status-color-warning); padding: 1em;}
div.message{border-radius: 0.5em; border: var(--boxes-border); padding: 0.2em 1em; margin: 0.5em 0;}

div.message-ok,      span.ok,      tr.ok,      td1.ok      { background:var(--status-bg-ok-flat);      color:var(--status-color-ok);}
div.message-warning, span.warning, tr.warning, td1.warning { background:var(--status-bg-warning-flat); color:var(--status-color-warning);}
div.message-error,   span.error,   tr.error,   td1.error   { background:var(--status-bg-error-flat);   color:var(--status-color-error);}

/* --- color for pie chart --- */

.piechart{border: var(--chart-border); border-radius: 0.5em; box-shadow: 0 0 0.2em var(--color-shadow-default); width: 35em; padding: 1em; margin-bottom: 2em; background: #f8f8f8; background: var(--chart-background);}
.piechart-pie{width: 24em;}
.floatright{float: right; margin: 0 0 1em 2em;}
.floatleft{float: left; margin: 0 2em 1em 0; max-width: 38em;}

.chartcolor-error{color:#d88;}
.chartcolor-warning{color:#eb8;}
.chartcolor-ok{color:#7a8;}
.chartcolor-todo{color:#aaa;}

.chartcolor-1{color:#8ac;}
.chartcolor-2{color:#c8a;}
.chartcolor-3{color:#ac8;}
.chartcolor-4{color:#a8c;}
.chartcolor-5{color:#eb6;}

.request-time {border: 0px solid;  padding: 0; margin-top: 1em;}
.request-time div{height: 2em; border: 1px dotted; float: left;}
.request-time span{display: block;height: 2em; float: left;}
.request-time .namelookup{ background-color: #009999;}
.request-time .connect{ background-color: #35a;}
.request-time .handshake{ background-color: #5a5;}
.request-time .onserver{ background-color: #ea4;}
.request-time .transfer{ background-color: #a5a;}

.float-right{float: right;}
/* 
--------------------------------------------------------------------------------
    action box
--------------------------------------------------------------------------------
*/

.actionbox{
    background: var(--actionbox-bg);
    border: 2px solid rgba(0,0,0,0.05); padding: 1em;
}
/* 
--------------------------------------------------------------------------------
    ressources 
--------------------------------------------------------------------------------
*/
.text-on-markedelement{color: var(--DEFAULT-markedelement-color);}

.http-code{padding: 0.05em 0.5em; background: var(--http-code-bg); color:var(--http-code-color); box-shadow: 0 0 0.2em var(--http-code-color); min-width: 3em; display: inline-block;}
.http-code-todo,.http-code-{background: var(--http-code-todo-bg);}
.http-code--1 {background: var(--http-code--1-bg);}
.http-code-2xx {background: var(--http-code-2xx-bg);}
.http-code-3xx{background:var(--http-code-3xx-bg) ;}
.http-code-0xx,.http-code-301,.http-code-4xx, .http-code-9xx {background:var(--http-code-error-bg);}
.http-code-5xx {background:var(--http-code-5xx-bg);}


/* --- types --- */
.type-external{color:var(--type-external-color);}
.type-internal{color:var(--type-internal-color);}
.type-local{color: var(--type-local-color);}

/* --- icons --- */
.ico-security{color:var(--ico-security-color);}
.ico-http{color:var(--ico-http-color);}
.ico-unknown{color:var(--ico-unknown-color);}
.ico-error{color:var(--ico-error-color);}
.ico-warn{color:var(--ico-warn-color);}
.ico-warning{color:var(--ico-warning-color);}
/* http header */
.ico-non-standard{color:var(--ico-non-standard-color);}
.ico-obsolete{color:var(--ico-obsolete-color);}
.ico-deprecated{color:var(--ico-deprecated-color);}
.ico-unwanted{color:var(--ico-unwanted-color);}
.ico-badvalue{color:var(--ico-badvalue-color);}

.ico-miss{color:var(--ico-miss-color);}
.ico-found{color:var(--ico-found-color);}

/*
.ressourcetype{padding: 0.05em 0.5em; color:#fff; box-shadow: 0 0 0.2em #fff;}
.ressourcetype-css{background: #345;}
.ressourcetype-image{background: #a93;}
.ressourcetype-link{background: #348;}
.ressourcetype-page{background: #8a8;}
.ressourcetype-script{background: #354;}
*/

.pure-button span.value{color: var(--button-value-color);}
.pure-button span.varname{color: var(--button-varname-color);}

/* --- ressource rendering --- */

.divRessourceAsLine{
    border-bottom: 1px solid var(--resource-line-border); 
    padding: 0.2em;
    margin-bottom: 0.05em;
}
.divRessourceAsLine:hover{background: var(--resource-line-hover-bg);}
.divRessource{}
.divRessourceHead{
    /* 
    background-color: var(--resource-head-bg); 
    padding: 0.5em;
    */
    font-size: 120%;
}
.divRessourceContent{
    padding: 0.5em;
}
.ressourcecounter a{font-size: 250%; color: var(--resource-counter-color); text-decoration: none;}

.counter{background: rgba(0,0,0,0.05); display: inline-block; float: left; padding: 0.2em 0em; text-align: center; width: 3em;}
.divRessourceReport{background: var(--resource-report-bg); border: 0px; border-left: 5px solid var(--resource-report-border); border-top: 1px solid var(--resource-report-border); margin-bottom: 1em; padding: 0em; }
.divRessourceReport.http-code--1 {border-color: var(--http-code--1-bg);}
.divRessourceReport.http-code-2xx {border-color: var(--http-code-2xx-bg);}
.divRessourceReport.http-code-3xx{border-color: var(--http-code-3xx-bg);}
.divRessourceReport.http-code-0,.http-code-301,.http-code-4xx, .http-code-9xx {border-color: var(--http-code-error-bg);}
.divRessourceReport.http-code-5xx {border-color: var(--http-code-5xx-bg);}

.pure-table tr:hover, .divRessourceReport:hover{background:var(--resource-report-hover-bg);}
.divRessourceReport .redirectslabel{border-left: 3px dotted var(--resource-report-border); padding-left: 0.5em; padding-top: 0.5em; font-weight: bold;}
.divRessourceReport .redirects{margin: 0 0 0 2em; padding-left: 0.5em;}
.divRessourceReport .referenceslabel{border-left: 3px dotted var(--resource-report-border); padding-left: 0.5em; padding-top: 1em; font-weight: bold;}
.divRessourceReport .references{margin: 0 0 0 2em; padding-left: 0.5em;}

/* --- tables --- */
.pure-table, table.dataTable tbody tr{background: var(--table-bg); border: 1px solid var(--border1);}
.pure-table-horizontal th{background-color:var(--table-head-bg); color:var(--table-head-color); text-align: left;}
.pure-table-horizontal th:hover{background-color:var(--table-head-hover-bg); color:var(--table-head-hover-color);}
table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc {
    background-color:var(--table-head-select-bg); color:var(--table-head-select-color);
}

.pure-table-horizontal td, .pure-table-horizontal th {
	border-bottom: 1px solid var(--border1);
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate
{color: inherit;}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active
{color: inherit !important;}
.dataTables_wrapper .dataTables_paginate .paginate_button {
	color: inherit !important;
}

.pure-table td{
    vertical-align: top;
}

.pure-table td .key{color: var(--table-td-key-color); font-style: italic;}
.pure-table td .key2{color:var(--table-td-key2-color);font-style: italic;}
.pure-table td .value{color: var(--table-td-value-color);}
.pure-table td .value:before,.pure-table td .value:after{content:'"'}

/* ---  test search ---  */
.td-summary > table.pure-table{width: 100%;}
._td-summary > table.pure-table > tbody > tr > td {width: 15px;}

mark.mark1{background:#fea;}
mark.mark2{background:#dfd;}
mark.mark3{background:#ddf;}
mark.mark4{background:#fdf;}
mark.mark5{background:#fcc;}

/* --- ssl checks ---  */

/* --- http response header tags ---  */
.pure-table tr.cache{background:  var(--table-tr-cache-bg); color: var(--table-tr-cache-color);}
.pure-table tr.compression{background: var(--table-tr-compression-bg); color: var(--table-tr-compression-color);}
.pure-table tr.non-standard{background: var(--table-tr-nonstandard-bg); color: var(--table-tr-nonstandard-color);}
.pure-table tr.security{background: var(--table-tr-security-bg); color:  var(--table-tr-security-color);}
.pure-table tr.unknown{color: var(--table-tr-unknown-color);}
.pure-table tr.unwanted{background: var(--table-tr-unwanted-bg); color: var(--table-tr-unwanted-color);}

tr.mark{background: var(--table-tr-marked-bg) !important;}
/* --- form --- */
form.pure-form label{min-width: 20em;}
/* .pure-form input[type=number] {background: #f0f8f0;}*/
.pure-form select {height: auto;}
.pure-form-aligned .pure-control-group label.align-left{text-align: left;}
div.pure-control-group > div > label:hover{opacity: 0.7; background: var(--form-label-hover-bg);} 
#selectProject span {display: inline-block; margin: 1em 0.2em 1em 0 ;}
#selectProject select{font-size: 110%; font-weight: bold; background: none;  color: var(--color-default); border-width: 0px; opacity: 0.6;}
#selectProject select option {font-size: 90%; font-weight: normal;padding: 0.4em;}
#selectProject select:hover{background: var(--form-select-hover-bg);}

.pure-control-group div {vertical-align: top; display: inline-block; min-width: 36em;}
.insertimage {background: var(--form-insertimage-bg); border: 3px dashed var(--form-insertimage-border); display: inline-block; max-width: 30em; padding: 1em; }
.insertimage img{max-width: 50%;}

#e_url{width: 58%;}


/* --- overlay --- */
#overlay{
    position: fixed; width: 100%; height: 100%; top: 0; left: 0;
    background: var(--overlay-bg);
    z-index: 1000;
    display: none;
}
#overlay div.divdialog{
    background:var(--overlay-dialog-bg); 
    border: 2px solid var(--overlay-dialog-border); border-radius: 0.2em;
    box-shadow: 0.1em 0.1em 2em var(--overlay-dialog-shadow-color1), 0.5em 0.5em 3em var(--overlay-dialog-shadow-color2);
    display: block; max-width: 80%; min-width: 30%;
    margin: 8em auto auto;
}
#overlay #dialogtitle{background: var(--overlay-dialog-title-bg); color: var(--overlay-dialog-title-color); padding: 0.5em; font-size: 120%;}
#overlay #dialogcontent{
    padding: 2em;
    
}
/* --- Debug container --- */
.debugcontainer{
    position: absolute; top: 1000em; z-index: 200;
    padding: 1em; background: var(--debug-container-bg);
}
/* 
--------------------------------------------------------------------------------
    about
--------------------------------------------------------------------------------
*/

div.person{border: 1px solid var(--person-border); background: var(--person-bg); height: 5em; display: block; float: left; margin: 0 1em 1em 0; padding: 1em; width: 19%; }
div.person .name{font-weight: bold;}

 @media print{
    body{font-size: 0.9em;}
    h2{background: none; position: relative; padding: 0; margin: 1em 0;}
    div.sidebar,
    .pure-menu-link,
    .noprint{
        display:none;
    }
    .pure-menu-link .pure-menu-link-active{display: block;}
    .maincontent{padding-left: 1em;}
    div.sidebar .header{float: left;}
  }


  @media only screen and (max-width: 1200px) {
      #navmain{
          width: 4.5em;
      }
      .maincontent{padding-left: 5.5em;}
      #pacman div{
          display: none;
      }
      .pure-menu{margin-left: 0;}
      .header .pure-menu-list .pure-menu-list .pure-menu-list{display: none !important;}
      a.pure-menu-link span{display: none;}
}
